.SectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    margin-bottom: 50px;
    >span{
        font-family: 'Inter';
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: #323232;
        margin-left: 28px;
    }
    >div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        margin-top: 20px;
        button{
            border: 0;
            background-color: transparent;
            &:hover{
                cursor: pointer;
            }
            &:disabled{
                &:hover{
                    cursor: auto;
                }
            }
        }
    }
}