.RecommendedJobsDiv{
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(48, 49, 51, 0.04), 0px 4px 8px rgba(48, 49, 51, 0.08);
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    width: 288px;
    
    .RecommendedJobsHeadingImageDiv{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        .RecommendedJobsHeadingImage{
            height: 48px;
            width: 48px;
            border-radius: 50%;
            overflow: hidden;
        }
        .RecommendedJobsHeadingDiv{
            display: flex;
            width: 75%;
            flex-direction: column;
            .bussinessTitle{
                font-size: 14px;
                color: #757575;
            }
        }
    }
    .RecommendedJobsSeperator{
        background-color: #E0E0E0;
        border: 0;
        height: 1px;
        width: 100%;
        margin: 16px 0;
    }
    .RecommendedJobsDetailsDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        >div{
            align-items: center;
            display: flex;
            flex-direction: row;
            width: fit-content;
            gap: 8px;
            img{
                height: 13px;
                width: 13px;
                padding: 8px;
                background: #F5F5F5;
                border-radius: 40px;
            }
            >div{
                
                display: flex;
                flex-direction: column;
                color:#162447;
                span{
                    &:first-child{
                        color: #757575;
                        font-size: 12px;
                    }
                }
            }
        }

    }
}